ul {
	list-style: none;
	padding: 0;
}




.dropdowns ul li {
	display: inline-block;
}

.assetselect, .flawselect {
	display: none;
}

.promotionselect {
	display: none;
}

.container {
	margin: 3% 5%;
	float: left;
}

.unit-name {
	margin: 0 20px;
}

#sidebyside {
	padding: 0;
}

#sidebyside li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}

.stattable {
	display: none;
	margin: 0;
	float: left;
}

.statcell th, td {
	text-align: center;
	padding: 3px 0;
	margin: 0;
	width: 55px;
}


#promotiontable {
	display: none;
}



.fixed.sticky {
	position: fixed;
	top: 0;
	background-color: white;
	width: inherit;
}

#addparallel {
	vertical-align: center;
}

.parallel {
	display: none;
}

.parallelpair {
	display: none;
}

.parallelcell {
	margin: 10px;
}



